.about-container {
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/820/687/desktop-wallpaper-1080x1920-baby-blue-eyes-solid-color-backgrounds-solid-color-phone.jpg");  height: 98vh;
  margin-top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-title {
  font-size: 5vw;
  font-weight: 3;
  margin-top: 0%;
  color: black;
  text-align: center;
}

.about-description {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 2%;
  color: white;
  width: 50%;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}