.Home {
  background-image: url("https://i.pinimg.com/736x/26/44/c2/2644c2844dc0cdc5798179f86a28ebf6.jpg");
  height: 98vh;
  margin-top: -1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
  margin-left: 5%;
}

.headerContainer h1 {
  justify-content: left;
  justify-items: left;
  align-items: left;
  margin-left: -52%;
  font-size: 9vw;
  height: 10vw;
  font-weight: 600;
  color: rgb(13, 13, 13);
}

.headerContainer p {
  padding: 0;
  font-size: 3.8vw;
  font-weight: 170;
  color: black;
  margin-left: -5%;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 5vw;
  width: 18%;
  color: white;
  text-decoration: none;
  font-size: 2vw;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0%;
    border-radius: 10px;
    padding: 1%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    justify-content: left;
    justify-items: left;
    align-items: left;
    font-size: 4vw;
    height: 3vw;
    color: white;

  }

  .headerContainer p {
    font-size: 2vw;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 3%;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
