.inviteDropdown {
    position: relative;
    vertical-align: middle;
    align-items: center;
    margin: 13px;
    padding: 0px;
    top: -7.5px;
}

.dropdown-open {
    position: absolute;
    z-index: 999;

    overflow-y: auto;

    width: 300px;
    height: 350px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 2px;
    border-radius: 8px;
}

.numNotifs {
    position: relative;
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 15px;

    top: 12px;
    left: 72px;
    width: 15px;
    height: 15px;
}

.arrow {
    display: inline;
    font-size: 10px;
}